.user-table-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .user-table {
    width: 100%;
    border-collapse: collapse;
    padding: 20px;

    .table-title {
      font-size: 24px;
      color: gray;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .search {
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        border-radius: 5px;
        padding: 3px;
        margin-left: auto;
        justify-content: center;
        margin: 0 auto;

        input {
          border: none;
          outline: none;
          background: transparent;
          width: 500px;
          height: 30px;
        }
      }
    }

    .wrapper-table {
      overflow: auto;
      max-height: 600px;
      overflow-y: scroll;

      .table-header-container {
        position: sticky;
        top: 0;
        z-index: 1;

        .sticky-header {
          width: 20%;
          background-color: #fff;
        }
      }

      div[style*="overflow: auto"] {
        /* Customize the scrollbar */
        scrollbar-width: thin;
        scrollbar-color: #ccc #f5f5f5;
        border-radius: 10px;

        &::-webkit-scrollbar {
          width: 8px; /* Width of the scrollbar */
        }

        &::-webkit-scrollbar-thumb {
          background-color: #ccc; /* Color of the scrollbar thumb */
          border-radius: 4px; /* Border radius of the scrollbar thumb */
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #999; /* Color of the scrollbar thumb on hover */
        }

        &::-webkit-scrollbar-track {
          background-color: #f5f5f5; /* Color of the scrollbar track */
        }
      }
    }

    th,
    td {
      padding: 10px;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:first-child td {
      border-top: none;
    }

    tr:last-child td {
      border-bottom: none;
    }
  }
}
/* usercard details */
.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(28, 23, 23, 0.1);
  margin-top: -5px;

  .user-card-image {
    margin-right: 10px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .user-card-details {
    flex: 1;

    h4 {
      margin-top: 0;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }

  .view-button {
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background-color: #1976d2;
    }
  }

  .schedule-button {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #45a049;
    }
  }
}

.user-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.user-modal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.information-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.image-container {
  display: flex;
  text-align: center;
  flex-direction: column;

  .image-container-wrapper {
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(to left, #2d00f7, #ff0291);
    justify-content: center;
    align-items: center;
    text-align: center;

    .profile-img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 auto;
      padding: 5px;
      background-color: white;
      transform: translate(0px, 45px);
      border: 2px solid #8e00b9;
    }
  }
}
.name-specialty-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-info {
  margin-top: 0px;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: 0 10px 20px rgba(28, 23, 23, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  padding: 10px;
  width: 100%;
  flex: 1;

  .text {
    font-family: sans-serif;
    color: #2f2d2e;
    font-size: 0.9rem;
  }
}

.scrollbar-style {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: gray lightgray; /* For Firefox */
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
  }

  &::-webkit-scrollbar-track {
    background-color: lightgray; /* Color of the scrollbar track */
  }
}
